<p>
  about works!
</p>

<p> This is an api call </p>
<ul *ngFor="let doc of dataReceived">
   <li *ngFor= "let i of generateArray(doc)">{{i}}</li>
</ul>

<button (click)="logIt()"> Log me</button>


<form id="add-ninja">
	<input type="number" [(ngModel)]="age"  [ngModelOptions]="{standalone: true}"/>
	<input type="text" [(ngModel)]="city"  [ngModelOptions]="{standalone: true}"/>
	<input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"/>
	<button (click)="fbPostData(age,city,name)">add ninja</button>

</form>