<h3>Basic Navbar Example</h3>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  
  <div class="row">
	<div class="col-md-4">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>
	<div class="col-md-4">.col-md-4</div>
  </div>
  
  <div class="row">
    <div class="col-md-8">.col-md-8</div>
    <div class="col-md-4">.col-md-4</div>
  </div>
  <div class="row">
	  <div class="col-md-4">.col-md-4</div>
	  <div class="col-md-4">.col-md-4</div>
	  <div class="col-md-4">.col-md-4</div>
  </div>
<p>This is inside a container class and it is indented because it has a width property.
     Check the console</p>
<button type="button" class="btn btn-primary" (click)="openGoogle()">Open Google</button>
<p>Since the columns are inside a container-fluid then they follow the css of the container fluid and that is why they are padded"</p>